# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: macos-26

    steps:
      - name: Install dependencies
        run: brew install ninja sccache
      - uses: actions/checkout@v4
        with:
          repository: swiftlang/swift
          path: swift-project/swift
      - run: utils/update-checkout --clone --scheme release/6.2
        working-directory: ./swift-project/swift
      - name: Cache toolchain build
        uses: actions/cache@v4
        with:
          path: swift-project/build
          key: swift-project-build-6.2-${{ runner.os }}
      - name: Build toolchain
        run: |
          utils/build-script --skip-build-benchmarks \
            --swift-darwin-supported-archs "$(uname -m)" \
            --release-debuginfo --swift-disable-dead-stripping \
            --bootstrapping=hosttools
        working-directory: ./swift-project/swift
      - run: |
          mkdir -p build/Default
          ln -s ../Ninja-RelWithDebInfoAssert/swift-macosx-arm64 build/Default/swift
          ln -s ../Ninja-RelWithDebInfoAssert/llvm-macosx-arm64 build/Default/llvm
        working-directory: ./swift-project
      - uses: actions/checkout@v4
        with:
          path: Compute
