# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4
        with:
          repository: swiftlang/swift
          path: swift-project/swift
      - uses: actions/checkout@v4
        with:
          path: Compute
      - name: Build
        run: swift build -v
        working-directory: ./Compute
      - name: Run tests
        run: swift test -v
        working-directory: ./Compute
