# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: macos-26

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/checkout-swift-headers
        with:
          path: Checkouts/swift
          swift-version-major: 6
          swift-version-minor: 2
      - name: Build
        run: swift build
