# This workflow will build a Swift project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-swift

name: Swift

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: macos-26

    steps:
      - name: Install dependencies
        run: brew install ninja sccache
      - uses: actions/checkout@v4
        with:
          repository: swiftlang/swift
          path: swift-project/swift
      - run: utils/update-checkout --clone
        working-directory: ./swift-project/swift
      - name: Build toolchain
        run: |
          utils/build-script --skip-build-benchmarks \
            --swift-darwin-supported-archs "$(uname -m)" \
            --release-debuginfo --swift-disable-dead-stripping \
            --bootstrapping=hosttools
        working-directory: ./swift-project/swift
      - uses: actions/checkout@v4
        with:
          path: Compute
      - name: Build
        run: swift build -v
        working-directory: ./Compute
      - name: Run tests
        run: swift test -v
        working-directory: ./Compute
