name: Swift

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  macos-build:
    name: macOS
    runs-on: macos-26
    strategy:
      matrix:
        swift: ["6.2"]
    steps:
      - id: swift-version
        run: |
          MAJOR=$(echo "${{ matrix.swift }}" | cut -d. -f1)
          MINOR=$(echo "${{ matrix.swift }}" | cut -d. -f2)
          echo "major=$MAJOR" >> $GITHUB_OUTPUT
          echo "minor=$MINOR" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4
      - uses: ./.github/actions/checkout-swift-headers
        with:
          path: Checkouts/swift
          swift-version-major: ${{ steps.swift-version.outputs.major }}
          swift-version-minor: ${{ steps.swift-version.outputs.minor }}
      - name: Build
        run: swift build

  linux-build:
    name: Linux
    runs-on: ubuntu-latest
    strategy:
      matrix:
        swift: ["6.2"]
    container:
      image: swift:${{ matrix.swift }}-jammy
    steps:
      - name: Install dependencies
        run: |
          apt-get update
          apt-get install -y libssl-dev
      - name: Swift version
        id: swift-version
        run: |
          MAJOR=$(echo "${{ matrix.swift }}" | cut -d. -f1)
          MINOR=$(echo "${{ matrix.swift }}" | cut -d. -f2)
          echo "major=$MAJOR" >> $GITHUB_OUTPUT
          echo "minor=$MINOR" >> $GITHUB_OUTPUT
      - uses: actions/checkout@v4
      - uses: ./.github/actions/checkout-swift-headers
        with:
          path: Checkouts/swift
          swift-version-major: ${{ steps.swift-version.outputs.major }}
          swift-version-minor: ${{ steps.swift-version.outputs.minor }}
      - name: Build
        run: swift build -Xcc -Wno-elaborated-enum-base
